body {
    background-color: skyblue;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif; 
    color: black;   
}

.meme1 {
	background-color: DarkTurquoise;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}

.meme2 {
	background-color: Turquoise;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}

.meme3 {
	background-color: MediumTurquoise;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}

.meme4 {
	background-color: LightSeaGreen;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}

.meme5 {
	background-color: DarkCyan;
	color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 20px;
}
